@media screen and (max-width: 1965px) {
    #mu-reservation\>div>div>div>div>div.carousel-item.item-1>div>div.col-sm-4 {
        float: right;
    }
    .mobile420 {
        display: none;
    }
    .paddinpronas {
        height: 70px;
    }
    .padheader {
        padding-top: 40px;
    }
    .hones {
        display: none;
    }
    .titleheading3 {
        padding-bottom: 30px;
    }
    .fotnotleft {
        width: 1296px;
        height: 100%;
        margin-left: 240px;
    }
    .btnsesp {
        padding-right: 65px !important;
    }
    .ostpublicryad {
        padding-left: 88px;
    }
    .butpubtop {
        padding-right: 49px !important;
    }
    .texttocoments {
        padding-left: 10px !important;
        margin-top: 47px !important;
        font-size: 17px !important;
        line-height: 19px !important;
        color: #223A76 !important;
    }
    .texttocoments2 {
        padding-left: 10px !important;
        margin-top: 47px !important;
        font-size: 17px !important;
        line-height: 19px !important;
        color: #223A76 !important;
    }
    .iconcomento {
        padding-top: 23px;
        padding-left: 0px !important;
    }
    .iconcomento2 {
        padding-top: 23px;
        padding-left: 0px !important;
    }
    .comenttomen2 {
        padding-left: 24px !important;
    }
    .comenttomen {
        padding-left: 24px !important;
    }
    .kavich2 {
        padding-left: 52px !important;
    }
    .kavich {
        padding-left: 52px !important;
    }
    .titleheadi4 {
        padding-bottom: 8px;
        font-style: normal;
        font-weight: 450;
        font-size: 60px;
        line-height: 48px;
        color: #223A76;
        margin-left: -14px;
        padding-top: 21px;
    }
    .texttocomentsdiv {
        width: 46.333333% !important;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -48px !important;
        margin-top: -2px !important;
    }
    .conpadin {
        padding-top: 45px;
    }
    .coomandos {
        padding-top: 167px;
        padding-bottom: 30px;
    }
    .textkomand {
        padding-left: 69px;
    }
    .lefter {
        padding-left: 72px;
    }
    .textzaps {
        padding-top: 35px;
    }
    #mu-reservation\ ssse>div:nth-child(1)>div>div.col-lg-8.col-md-8.col-sm-8.col-8.order-sm-first>p:nth-child(7)>a:hover {
        color: white !important;
        background: #B49A67;
    }
    .publiknizblocks {
        padding-top: 25px;
        padding-bottom: 53.35px;
    }
    .textfornewstop {
        height: 47px;
    }
    #mu-reservation\ ssse>div:nth-child(2)>div>div:nth-child(1) {
        display: none !important;
    }
    .abutonnew768 {
        color: #B49A67;
        padding: 3px 15px;
        border: 1px solid #B49A67;
    }
    .pbutonnew768 {
        float: right;
    }
    #mu-reservation\ ssse>div:nth-child(2)>div>div:nth-child(3) {
        display: none !important;
    }
    .padtopublictop {
        height: 2px !important;
    }
    .cards:hover .btnssa {
        color: #B49A67;
        background: white;
    }
    .ontpc {
        padding-top: 11px;
    }
    input:focus {
        color: white;
    }
    input {
        color: white;
    }
    .copirites {
        position: absolute;
        bottom: -80px;
        margin-top: 8px;
        font-style: normal;
        font-weight: normal;
        width: 200px;
        font-size: 13px;
        line-height: 17px;
        color: #64759F;
    }
    .contacts {
        position: absolute;
        width: 69%;
        padding-left: 792px;
    }
    .mapsg {
        padding-left: 138px;
        width: 644px;
    }
    .allrepublicpc {
        display: block;
        padding-right: 434px;
        margin-top: -30px;
    }
    .sysys {
        padding-left: 59px !important;
    }
    .cards:hover .cardsshover {
        opacity: 1 !important;
    }
    .btnses:hover {
        background: #B49A67;
    }
    .btnses:hover a {
        color: white;
        background: #B49A67;
    }
    .btnses a {
        color: #B49A67;
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        text-align: center;
    }
    .btnses {
        padding: 6px 24px;
        border: 1px solid #B49A67;
    }
    .card:hover .card-body {
        box-shadow: 8px 15px 10px 5px rgba(0, 0, 0, .2);
    }
    .hoverpracticks:hover {
        opacity: 1;
        width: 493px;
        padding-left: 3px;
        box-shadow: 8px 15px 10px 5px rgba(0, 0, 0, .2);
    }
    .hoverpracticks {
        opacity: 0;
        position: absolute;
        width: 494px;
        padding-left: 3px;
    }
    .mobmenu a:hover {
        color: #B49A67;
    }
    .mobmenu a {
        color: #223A76;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 45px;
    }
    .moblang {
        text-align: right;
        padding-right: 50px;
        font-family: Futura PT;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 45px;
    }
    .mobmenu {
        padding-left: 10%;
    }
    .active {
        background-color: white;
        z-index: 99999999999 !important;
        display: block !important;
    }
    .hide-block {
        display: none;
    }
    .practiccont {
        padding-left: 103px;
    }
    .batcartyny:hover a {
        color: #B49A67;
    }
    .liul {
        padding-top: 6px;
    }
    .liul li {
        font-style: normal;
        font-weight: 20;
        font-size: 17px;
        line-height: 21px;
    }
    .liuli {
        font-style: normal;
        font-weight: 20;
        font-size: 17px;
        line-height: 21px;
    }
    .liuli li {
        font-style: normal;
        font-weight: 20;
        font-size: 17px;
        line-height: 21px;
    }
    .batcartyny {
        text-align: right;
        padding-right: 25px;
    }
    .batcartyny a {
        color: white;
    }
    .batcartyn a {
        padding: 5px 16px;
        border: solid 1px white;
        color: white;
    }
    .batcartyn:hover a {
        color: #223a76;
        background: white;
    }
    .batcartyn {
        text-align: right;
    }
    .btn:hover {
        background: #B49A67;
    }
    .btn:hover a {
        color: white;
    }
    .butallposlyg {
        padding: 6px 25px;
        color: #B49A67;
    }
    .butallposlyg:hover {
        color: #FFFFFF;
        background: #B49A67;
    }
    .butallposlyg:hover span {
        color: #FFFFFF;
        background: #B49A67;
    }
    .buttonposlyg a {
        color: #B49A67;
    }
    .buttonposlyg {
        border: 2px solid #B49A67;
        padding: 6px 15px;
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        text-align: center;
    }
    .buttonposlyg:hover {
        color: #FFFFFF;
        background: #B49A67;
    }
    .buttonposlyg:hover a {
        color: #FFFFFF;
        background: #B49A67;
    }
    .card:hover .card-body {
        background-color: #223A76;
    }
    .card-body:hover {
        background-color: #223A76;
    }
    .bottkomand a:hover {
        background: #B49A67;
    }
    .bottkomand a:hover span {
        color: #FFFFFF;
    }
    .heidingnum1 {
        margin: 0 0 0px;
    }
    .heidingnum2 {
        margin: 0 0 0px;
    }
    .abousa {
        padding-top: 22px;
    }
    .benerslide {
        height: 860px !important;
    }
    .navbar-right {
        margin-right: -182px !important;
        margin-top: 5px !important;
    }
    .butonas {
        text-align: center;
        padding-top: 70px;
        padding-left: 41px;
    }
    .on480left {
        display: none;
    }
    .on480right {
        display: none;
    }
    .news320 {
        display: none;
    }
    .heigclient {
        display: none;
    }
    .divesnews {
        display: none;
    }
    .comandatextc {
        display: none;
    }
    .butomzaps {
        display: none;
    }
    .dooble {
        display: none !important;
    }
    .yridconsoult {
        display: none;
    }
    .textaboutus {
        line-height: 19px;
        width: 217px;
        padding-top: 9px;
        padding-left: 4px;
        font-size: 17px;
        color: #223A76;
    }
    .telph {
        display: none;
    }
    .card-text {
        padding-bottom: 9px;
    }
    .bottkomand {
        padding-top: 42px;
        margin-left: 3px;
    }
    .bottkomand a {
        border: solid 2px #B49A67;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .titleheading {
        font-style: normal;
        font-weight: 450;
        font-size: 60px;
        line-height: 77px;
        margin-left: -15px;
        padding-top: 4px;
        color: #223A76;
    }
    .iconnumber {
        display: none;
    }
    .infoiconss420 {
        display: none;
    }
    .ollpublic {
        display: none;
    }
    .formfooterniz {
        padding-bottom: 26.35px;
        padding-top: 91px;
    }
    .hree {
        width: 5px;
        height: 24px;
    }
    .btnssa {
        color: white;
        border: 1px solid;
        padding: 3px 15px;
    }
    .titlenew {
        padding-top: 15px;
        font-weight: 450;
        font-size: 27px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .titlecartwidth {
        font-weight: 490;
        font-size: 37.3153px;
    }
    .practbuts {
        float: right;
        padding-right: 57px;
        padding-top: 34px;
    }
    .heicart {
        height: 234px;
    }
    .onetable {
        display: none;
    }
    .nonetable {
        display: block;
    }
    .text {
        font-size: 17px;
        line-height: 19px;
        padding-left: 10px;
    }
    .newstitle {
        padding-top: 17px;
        padding-left: 13px;
        font-style: normal;
        font-weight: 450;
        font-size: 27px;
        line-height: 30px;
    }
    .on768 {
        display: none;
    }
    .abownas {
        display: none;
    }
    .iconsfooter {
        padding-left: 120px;
    }
    .iconfooters {
        display: none;
    }
    .cardss {
        height: 170px;
        width: 320px;
    }
    .card {
        width: 320px !important;
        height: 295px !important;
    }
    .card-bodys {
        background: #223A76;
        width: 320px;
        height: 150px;
    }
    .newsone {
        width: 664px;
        height: 320px;
    }
    .comentsto {
        height: 450px;
    }
    .practic {
        width: 1010px;
    }
    .practicfirst {
        padding-right: 0px;
        height: 290px;
        width: 516px;
        padding-left: 0px;
    }
    .practictwo {
        background: #223A76;
        height: 290px;
        width: 494px;
    }
    .prac1linnes {
        padding-top: 28px;
    }
    .prac4linnes {
        padding-top: 27px;
    }
    .prac3linnes {
        padding-top: 23px;
    }
    .prac2linnes {
        padding-top: 27px;
    }
    .practictwotwo {
        padding-right: -15px;
        height: 234px;
        width: 494px;
    }
    .practicimg {
        width: 100%;
        height: 234px;
    }
    .practiccart {
        padding-right: -15px;
        height: 234px;
        width: 491px;
    }
    .practiccarts {
        height: 234px;
        width: 520px;
        padding-left: 25px;
    }
    .practicscar {
        padding-left: 15px;
        height: 234px;
        width: 491px;
    }
    .practictextcart {
        height: 234px !important;
    }
    .fd {
        height: 234px;
        padding-left: 15px;
    }
    .rychka {
        height: 295px;
        width: 320px;
    }
    .card:hover {
        width: 320px;
        height: 431px;
        box-shadow: 8px 15px 10px 5px rgba(0, 0, 0, .2);
    }
    .rychka:hover {
        height: 291px;
        width: 320px;
    }
    .glyshkova {
        height: 295px;
        width: 320px;
    }
    .glyshkova:hover {
        height: 295px;
        width: 320px;
    }
    .milian {
        height: 295px;
        width: 320px;
    }
    .milian:hover {
        height: 295px;
        width: 320px;
    }
    .tarasov {
        height: 295px;
        width: 320px;
    }
    .tarasov:hover {
        height: 295px;
        width: 320px;
    }
    .nazarenko {
        height: 295px;
        width: 320px;
    }
    .nazarenko:hover {
        height: 295px;
        width: 320px;
    }
    .megdycartcomand {
        padding-bottom: 198px;
        padding-top: 263px;
        z-index: -1;
    }
    .startcomanda {
        height: 1151px;
    }
}