@media screen and (max-width: 1961px) {
    .mobmenu a:hover {
        color: #B49A67;
    }
    .mobmenu a {
        color: #223A76;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 45px;
    }
    .moblang {
        text-align: right;
        padding-right: 50px;
        font-family: Futura PT;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 45px;
    }
    .mobmenu {
        padding-left: 10%;
    }
    .active {
        background-color: white;
        z-index: 99999999999 !important;
        display: block !important;
    }
    .hide-block {
        display: none;
    }
    .practiccont {
        padding-left: 98px;
    }
    .batcartyny:hover a {
        color: #B49A67;
    }
    .liul li {
        font-style: normal;
        font-weight: 20;
        font-size: 17px;
        line-height: 21px;
    }
    .liuli {
        font-style: normal;
        font-weight: 20;
        font-size: 17px;
        line-height: 21px;
    }
    .liuli li {
        font-style: normal;
        font-weight: 20;
        font-size: 17px;
        line-height: 21px;
    }
    .batcartyny {
        text-align: right;
        padding-right: 25px;
    }
    .batcartyny a {
        color: white;
    }
    .batcartyn a {
        padding: 3px 15px;
        border: solid 1px white;
        color: white;
    }
    .batcartyn:hover a {
        color: #223a76;
        background: white;
    }
    .batcartyn {
        text-align: right;
    }
    .btn:hover {
        background: #B49A67;
    }
    .btn:hover a {
        color: white;
    }
    .butallposlyg {
        padding: 3px 15px;
        color: #B49A67;
    }
    .butallposlyg:hover {
        color: #FFFFFF;
        background: #B49A67;
    }
    .butallposlyg:hover span {
        color: #FFFFFF;
        background: #B49A67;
    }
    .buttonposlyg a {
        color: #B49A67;
    }
    .buttonposlyg {
        border: 1px solid #B49A67;
        padding: 3px 15px;
    }
    .buttonposlyg:hover {
        color: #FFFFFF;
        background: #B49A67;
    }
    .buttonposlyg:hover a {
        color: #FFFFFF;
        background: #B49A67;
    }
    .card:hover .card-body {
        background-color: #223A76;
    }
    .card-body:hover {
        background-color: #223A76;
    }
    .bottkomand a:hover {
        background: #B49A67;
    }
    .bottkomand a:hover span {
        color: #FFFFFF;
    }
    .heidingnum1 {
        margin: 0 0 0px;
    }
    .heidingnum2 {
        margin: 0 0 0px;
    }
    .abousa {
        padding-top: 22px;
    }
    .navbar-right {
        margin-right: -182px !important;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -45px !important;
    }
    .butonas {
        text-align: center;
        padding-top: 70px;
        padding-left: 41px;
    }
    .on480left {
        display: none;
    }
    .on480right {
        display: none;
    }
    .news320 {
        display: none;
    }
    .heigclient {
        display: none;
    }
    .divesnews {
        display: none;
    }
    .comandatextc {
        display: none;
    }
    .butomzaps {
        display: none;
    }
    .dooble {
        display: none !important;
    }
    .yridconsoult {
        display: none;
    }
    .telph {
        display: none;
    }
    .titleheading {
        font-style: normal;
        font-weight: 450;
        font-size: 60px;
        line-height: 77px;
        margin-left: -8px;
        padding-top: 4px;
        color: #223A76;
    }
    .iconnumber {
        display: none;
    }
    .infoiconss420 {
        display: none;
    }
    .ollpublic {
        display: none;
    }
    .hree {
        display: none;
    }
    .btnssa {
        color: white;
        border: 1px solid;
        padding: 3px 15px;
    }
    .titlenew {
        padding-top: 15px;
        font-weight: 450;
        font-size: 27px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .titlecartwidth {
        font-weight: 490;
        font-size: 37.3153px;
    }
    .heicart {
        height: 234px;
    }
    .onetable {
        display: none;
    }
    .nonetable {
        display: block;
    }
    .newstitle {
        padding-top: 14px;
        padding-left: 3px;
        font-style: normal;
        font-weight: 450;
        font-size: 27px;
        line-height: 30px;
    }
    .on768 {
        display: none;
    }
    .abownas {
        display: none;
    }
    .iconsfooter {
        padding-left: 120px;
    }
    .iconfooters {
        display: none;
    }
    .cardss {
        height: 165px;
        width: 320px;
    }
    .card-bodys {
        background: #223A76;
        width: 320px;
        height: 158px;
    }
    .newsone {
        width: 664px;
        height: 324px;
    }
    .comentsto {
        height: 450px;
    }
    .practic {
        width: 1010px;
    }
    .practicfirst {
        padding-right: 0px;
        height: 290px;
        width: 520px;
        padding-left: 0px;
    }
    .practictwo {
        background: #223A76;
        height: 290px;
        width: 490px;
    }
    .practictwotwo {
        padding-right: -15px;
        height: 234px;
        width: 491px;
    }
    .practicimg {
        width: 100%;
        height: 234px;
    }
    .practiccart {
        padding-right: -15px;
        height: 234px;
        width: 491px;
    }
    .practiccarts {
        height: 234px;
        width: 520px;
        padding-left: 30px;
    }
    .practicscar {
        padding-left: 15px;
        height: 234px;
        width: 491px;
    }
    .practictextcart {
        height: 234px !important;
    }
    .fd {
        height: 234px;
        padding-left: 15px;
    }
    .rychka {
        height: 291px;
        width: 320px;
    }
    .card:hover {
        width: 320px;
        height: 431px;
        box-shadow: 8px 15px 10px 5px rgba(0, 0, 0, .2);
    }
    .rychka:hover {
        height: 291px;
        width: 320px;
    }
    .glyshkova {
        height: 295px;
        width: 320px;
    }
    .glyshkova:hover {
        height: 295px;
        width: 320px;
    }
    .milian {
        height: 295px;
        width: 320px;
    }
    .milian:hover {
        height: 295px;
        width: 320px;
    }
    .tarasov {
        height: 295px;
        width: 320px;
    }
    .tarasov:hover {
        height: 295px;
        width: 320px;
    }
    .nazarenko {
        height: 295px;
        width: 320px;
    }
    .nazarenko:hover {
        height: 295px;
        width: 320px;
    }
}