@media screen and (max-width: 961px) {
    .textzaps {
        padding-top: 35px !important;
        margin-left: 6px;
    }
    .sss {
        padding-left: 19px !important;
    }
    .sysys {
        padding-left: 52px !important;
    }
    .redersys {
        padding-left: 17px !important;
    }
    .cardslefters {
        padding-left: 37px !important;
    }
    .datestat {
        margin-left: 64px;
    }
    .ontpc {
        margin-left: 66px;
        margin-top: 5px;
    }
    .order-sm-first {
        width: 605px !important;
        padding-left: 5px !important;
    }
    .padtopublictop {
        height: 0px !important;
    }
    #pubcil {
        padding-left: 5px !important;
    }
    .publiknizblocks {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .cards:hover .cardsshover {
        opacity: 0 !important;
        display: none;
    }
    .cards:hover .cardsshover960 {
        opacity: 1 !important;
    }
    .cardsshover img {
        display: none;
    }
    .butpubtop {
        padding-right: 18px !important;
        padding-top: 89px !important;
    }
    .pubsec {
        padding-top: 214px !important;
    }
    .btnsesp {
        padding-top: 31px !important;
        padding-right: 36px !important;
    }
    .btnses {
        padding: 6px 43px;
    }
    .nonleft {
        padding-left: 0px !important;
    }
    .toprigtt {
        padding-left: 5px;
    }
    .practbuts {
        padding-right: 26px !important;
        padding-top: 113px !important;
    }
    .bottkomand {
        padding-top: 35px !important;
    }
    .abousa {
        padding-bottom: 172px;
    }
    .lineser {
        width: 100%;
        text-align: center;
    }
    .textaboutus {
        width: 220px;
    }
    .linepronas {
        width: 68%;
        padding-top: 14px !important;
        padding-bottom: 37px !important;
    }
    .paddinpronas {
        height: 99px;
    }
    .abownas:hover a {
        color: white;
        background: #B49A67;
    }
    .abownas:hover {
        background: #B49A67;
    }
    .detail {
        padding-left: 28px !important;
        padding-right: 26px !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        border: 1px solid #B49A67 !important;
    }
    .abownas {
        float: right;
        margin-top: -57px;
        margin-right: 33px;
        display: block;
    }
    .titleÑ€2 {
        margin-left: 52px !important;
        padding-top: 82px !important;
    }
    .titleheading {
        margin-left: 71px;
        padding-top: 36px;
    }
    .titleheading2 {
        margin-left: -38px;
        padding-top: 3px;
    }
    .padheader {
        padding-top: 19px;
    }
    .nazva {
        left: 9.2% !important;
        top: 154px !important;
    }
    .hones {
        font-style: normal;
        font-weight: 450;
        font-size: 85px;
        line-height: 76px;
        color: #223A76;
        display: block;
    }
    .hone {
        display: none;
    }
    .benerslide {
        height: 651.27px !important;
    }
    body>section:nth-child(21)>footer>div:nth-child(1) {
        display: none;
    }
    .comenttomen2 {
        padding-left: 0px !important;
        margin-left: -10px;
    }
    .comenttomen {
        padding-left: 0px !important;
        margin-left: -10px;
    }
    .klient2 {
        padding-top: 18px;
    }
    #toTop {
        bottom: 44px !important;
        right: 36px !important;
    }
    .padcomenttop {
        padding-top: 55px !important;
    }
    .iconcomento2 {
        padding-top: 0px;
        padding-left: 15px !important;
        margin-top: 23px;
        margin-left: 10px;
    }
    .iconcomento {
        padding-top: 0px;
        padding-left: 15px !important;
        margin-top: 23px;
        margin-left: 10px;
    }
    .mapsframe {
        height: 657px !important;
    }
    .footerdivoss {
        height: 657px !important;
    }
    .ostpublicryad {
        padding-left: 21px;
    }
    #mu-reservation>div>div>div>div {
        padding-left: 20px;
    }
    .textfornewstop {
        width: 15px;
        height: 27px;
    }
    .kavich {
        margin-left: -18px !important;
        padding-left: 15px!important;
    }
    .kavich2 {
        margin-left: -18px !important;
        padding-left: 15px!important;
    }
    .texttocomentsdiv2 {
        width: 35.233333% !important;
    }
    .titleheadi4 {
        font-style: normal;
        font-weight: 450;
        font-size: 60px;
        line-height: 44px;
        color: #223A76;
        margin-left: 44px;
        padding-top: 78px;
    }
    .texttocoments2 {
        padding-left: 45px !important;
        padding-top: 0px;
        font-size: 17px !important;
        line-height: 19px;
        color: #223A76;
    }
    .texttocoments {
        margin-left: 48px;
        padding-left: 0px !important;
        padding-top: 0px;
        font-size: 17px !important;
        line-height: 19px;
        color: #223A76;
    }
    .fotnotleft {
        width: 100% !important;
        height: 100%;
        margin-left: 0px;
        padding-left: 0px;
    }
    .conpadin {
        padding-top: 40px;
    }
    .contacts {
        padding-left: 519px;
        width: 98%;
    }
    .mapsg {
        height: 657px;
        padding-left: 0px;
        width: 496px;
    }
    #mu-gallery>div>div>div>div.mu-gallery-area>div.col-lg-12>div>div {
        width: 920px;
    }
    .coomandos {
        padding-top: 61px !important;
        padding-left: 1px;
    }
    .formfooterniz {
        padding-top: 41px;
    }
    .mu-single-gallery {
        margin-left: 15px !important;
        width: 290px !important;
        height: 195px !important;
        padding-right: 0px;
        padding-left: 0px;
    }
    .lefter {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .allrepublicpc {
        padding-right: 25px;
        margin-top: -9px;
    }
    .hoverpracticks:hover {
        opacity: 1;
        width: 450px !important;
        padding-left: 3px;
        box-shadow: 8px 15px 10px 5px rgb(0 0 0 / 20%);
        margin-left: -6px;
    }
    .hoverpracticks {
        opacity: 0;
        position: absolute;
        width: 450px;
        height: 235px;
        padding-left: 3px;
    }
    .practiccont {
        padding-left: 15px !important;
    }
    .phonesfooter {
        width: 167px;
    }
    .iconfooters span {
        margin-left: 8px;
    }
    .iconfooters span a svg {
        width: 33px;
        height: 33px;
    }
    .iconfooters {
        padding-top: 29px;
        padding-bottom: 46px;
        display: block;
    }
    .iconsfooter {
        display: none;
    }
    .cardss {
        height: 165px;
        width: 290px;
    }
    .card-bodys {
        background: #223A76;
        width: 290px;
        height: 155px;
    }
    .newsone {
        width: 605px;
        height: 320px;
    }
    .comentsto {
        height: 70px;
    }
    .comentstokate {
        display: none;
    }
    .card-body {
        width: 290px;
        height: 141px;
        position: absolute;
        top: 290;
    }
    .contcomand {
        padding-right: 2px;
        padding-left: 2px;
        margin-right: 2px;
        margin-left: 2px;
    }
    .container {
        width: 960px;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 45px;
        margin-left: -118px;
    }
    .infoicons {
        display: none !important;
    }
    .infoiconss {
        display: block !important;
    }
    .butonas {
        display: none;
    }
    .practic {
        width: 920px;
    }
    .practicfirst {
        background-position: inherit !important;
        padding-right: 0px;
        height: 291px;
        width: 470px;
        padding-left: 0px;
    }
    .practictwo {
        background: #223A76;
        height: 291px;
        width: 450px;
    }
    .practictwotwo {
        padding-right: -15px;
        height: 234px;
        width: 450px;
    }
    .practicimg {
        width: 223.13px;
        height: 234.17px;
    }
    .practiccart {
        padding-right: -15px;
        height: 234px;
        width: 450px;
    }
    .practiccarts {
        height: 234px;
        width: 468px;
        padding-left: 22px;
    }
    .practicscar {
        padding-left: 15px;
        height: 234px;
        width: 450px;
    }
    .practictextcart {
        height: 234px !important;
    }
    .fd {
        height: 234px;
        padding-left: 15px;
        width: 450px;
    }
    .card {
        width: 290px !important;
        height: 290px !important;
    }
    .card-body {
        width: 290px !important;
        height: 140px !important;
    }
    .card:hover {
        width: 290px;
        height: 435px;
        box-shadow: 8px 15px 10px 5px rgba(0, 0, 0, .2);
    }
    .glyshkova {
        height: 295px;
        width: 290px;
    }
    .glyshkova:hover {
        height: 295px;
        width: 290px;
    }
    .milian {
        height: 295px;
        width: 290px;
    }
    .milian:hover {
        height: 295px;
        width: 290px;
    }
    .tarasov {
        height: 295px;
        width: 290px;
    }
    .tarasov:hover {
        height: 295px;
        width: 290px;
    }
    .nazarenko {
        height: 295px;
        width: 290px;
    }
    .nazarenko:hover {
        height: 295px;
        width: 290px;
    }
    .lang {
        padding-top: 7px !important;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 8px !important;
        margin-top: -1px !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: 81px !important;
        margin-top: 9px !important;
    }
    .nav>li>a {
        padding: 10px 12px !important;
    }
    .textkomand {
        padding-left: 34px;
        width: 213px !important;
    }
    .titleheading3 {
        padding-top: 17px !important;
        padding-bottom: 28px !important;
        margin-left: 49px !important;
    }
    .cards {
        width: 299px !important;
    }
}

@media (min-width: 788px) {
    .col-md-4 {
        width: 33.33333333%;
    }
}