@media screen and (max-width: 769px) {
    .fotnotleft {
        width: 768px !important;
        height: 657px !important;
        margin-left: 0px;
        padding-left: 0px;
    }
    .mapsg {
        height: 657px;
        padding-left: 0px;
        width: 394px;
    }
    .btkomandass {
        margin-left: -14px;
    }
    .titleaboutus {
        margin-left: -14px;
        font-style: normal;
        font-weight: 450;
        font-size: 50px;
        line-height: 47px;
    }
    .abtncom {
        padding: 3px 16px !important;
        font-weight: 400 !important;
        font-size: 17px !important;
        line-height: 22px !important;
        color: #B49A67 !important;
        border: 1px solid #B49A67;
    }
    .bottkomand {
        display: none;
    }
    #mu-gallery>div>div>div>div.mu-gallery-area>div.col-lg-12>div>div {
        width: 100%;
    }
    .comenttomen {
        width: 91% !important;
    }
    .sysys {
        padding-left: 10px !important;
    }
    #mu-header>nav>div>div.navbar-header>a>img {
        width: 236.03px;
        height: 52.54px;
    }
    .navbar {
        min-height: 90px !important;
    }
    .telph {
        display: block !important;
        width: 600px;
        display: block !important;
        padding-top: 28px;
        color: #223A76;
    }
    .telph a {
        font-weight: 450;
        font-size: 28px;
        line-height: 30px;
        padding-left: 57px;
        color: #223A76;
    }
    .telph a:hover {
        color: #ffffff;
    }
    .ollpublic {
        display: block;
    }
    .hree {
        display: block;
        height: 1px;
        background-color: rgb(114, 114, 114);
    }
    #mu-reservation\>div>div>div>div.col-lg-8.col-md-8.col-sm-8.col-8.order-sm-first {
        width: 100% !important;
    }
    .onpc {
        display: none;
    }
    .witeblue {
        background: white;
    }
    .onpoint {
        opacity: 0;
    }
    .posobsl {
        position: absolute;
        z-index: 9999999;
    }
    .onpoint:hover {
        opacity: 1;
        z-index: 9999999;
        background: #223A76;
    }
    .non7866 {
        display: none;
    }
    .titleÑ€2 {
        margin-left: 52px !important;
        padding-top: 10px !important;
    }
    .practbuts {
        padding-right: 26px !important;
        padding-top: 23px !important;
    }
    .liuli li {
        font-size: 15px;
        line-height: 17px;
    }
    .ybratix768 {
        display: none;
    }
    .titlenew {
        padding-top: 5px !important;
        font-style: normal;
        font-weight: 450;
        font-size: 22px;
        line-height: 23px;
    }
    .liuli {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
    }
    .liul {
        padding-top: 15px;
        font-size: 15px;
        line-height: 17px;
    }
    .titlecartwidth {
        padding-top: 15px;
        font-weight: 450;
        font-size: 30px;
        line-height: 24px;
    }
    .heicart {
        height: 185px;
    }
    .onetable {
        display: block;
    }
    .nonetable {
        display: none;
    }
    .text {
        font-size: 15px;
        line-height: 17px;
    }
    .newstitle {
        padding-top: 14px;
        padding-left: 3px;
        font-style: normal;
        font-weight: 450;
        font-size: 22px;
        line-height: 23px;
    }
    .onpad {
        display: none;
        height: 50px;
    }
    .col-md-glyshkova {
        display: none;
    }
    .nenadonamob {
        display: none;
    }
    .texton768 {
        float: right;
        padding-left: 54%;
        margin-top: -102px;
    }
    .lefter {
        margin-left: 20px !important;
    }
    .on768 {
        padding-left: 51px;
        width: 100% !important;
        display: block;
    }
    .benerslide {
        height: 822px !important;
        background-position: -300px -50px !important;
    }
    .abousa {
        padding-bottom: 72px;
        padding-top: 0px;
        margin-top: -34px;
        margin-left: -4px;
    }
    .titleheading {
        font-weight: 450;
        font-size: 50px;
        line-height: 64px;
        margin-left: 44px;
        padding-top: 0px;
    }
    .hones {
        display: table-caption;
    }
    .paddinpronas {
        height: 140px;
    }
    .butomzap {
        font-weight: 600 !important;
        font-size: 17px !important;
        line-height: 17px !important;
    }
    .padheader {
        padding-top: 36px;
    }
    .nazva {
        left: 9.1% !important;
        top: 151px !important;
    }
    .abownas {
        display: block;
        float: right;
        margin-top: -51px;
        margin-right: 0px;
    }
    .abownas a {
        padding: 3px 15px;
        border: 1px solid #B49A67;
    }
    .navbar-default .navbar-toggle {
        border-color: rgba(161, 117, 117, 0) !important;
    }
    #mu-header>nav>div>div.navbar-header>button {
        display: block;
        position: absolute;
        right: 19px;
        top: 11px;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 45px;
        margin-left: -118px;
    }
    #top-menu {
        display: none;
    }
    .phonesfooter {
        width: 167px;
    }
    .iconfooters {
        display: block;
    }
    .iconsfooter {
        display: none;
    }
    .contacts {
        padding-left: 2px;
    }
    .mapsg {
        padding-left: 0px;
    }
    .cardss {
        height: 165px;
        width: 354px;
    }
    .card-bodys {
        background: #223A76;
        width: 354px;
        height: 158px;
    }
    .newsone {
        width: 660px;
        height: 320px;
    }
    .order-sm-first {
        width: 100% !important;
    }
    .comentsto {
        height: 70px !important;
    }
    .comentstokate {
        display: none;
    }
    .textaboutus {
        width: auto;
    }
    .card-body {
        width: 320px !important;
        height: 140px !important;
        position: absolute !important;
        top: 290 !important;
        z-index: 999999 !important;
    }
    .posobsl {
        padding-left: 0px !important;
        width: 340px !important;
        height: 185px !important;
    }
    .icon-bar {
        display: none !important;
    }
    .contcomand {
        padding-right: 2px;
        padding-left: 2px;
        margin-right: 2px;
        margin-left: 2px;
    }
    .hoverpracticks:hover {
        opacity: 1;
        width: 356px !important;
        padding-left: 3px;
        box-shadow: 8px 15px 10px 5px rgb(0 0 0 / 20%);
        margin-left: -6px;
    }
    .container {
        width: 760px;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 45px;
        margin-left: -118px;
    }
    .infoicons {
        display: none !important;
    }
    .infoiconss {
        display: block !important;
    }
    .butonas {
        display: none;
    }
    .toprigtt {
        padding-left: 35px;
    }
    .practic {
        margin-left: 12px !important;
        width: 727px !important;
    }
    .practicfirst {
        background-position: center !important;
        padding-right: 0px;
        height: 290px;
        width: 371px;
        padding-left: 0px;
    }
    .practictwo {
        background: #223A76;
        height: 290px;
        width: 356px;
    }
    .titlecartwidth {
        font-weight: 450;
        font-size: 30px;
        line-height: 24px;
    }
    .practictwotwo {
        padding-right: -15px;
        height: 185px;
        width: 356px;
    }
    .nothoverpractics {
        width: 356px;
        height: 185px;
    }
    .hoverpracticks {
        top: 0;
        left: 0px;
        position: absolute;
        width: 356px;
        height: 185px;
        z-index: 9999999;
    }
    .noteon768 {
        display: none;
    }
    .practicimg {
        width: 100%;
        height: 185px;
    }
    .practiccart {
        padding-right: -15px;
        height: 185px;
        width: 356px;
    }
    .practiccarts {
        height: 185px;
        width: 356px;
        padding-left: 14px;
    }
    .practicscar {
        padding-left: 15px;
        height: 185px;
        width: 356px;
    }
    .practictextcart {
        padding-right: 0px;
        height: 185px !important;
    }
    .fd {
        width: 356px;
        height: 185px;
        padding-left: 15px;
    }
    .rychka {
        height: 291px;
        width: 290px;
    }
    .coomandos {
        padding-top: 37px !important;
        padding-top: 0px;
        padding-left: 0px;
    }
    .mu-single-gallery {
        margin-top: 15px;
        margin-left: 32px !important;
        width: 320px !important;
        height: 295px !important;
    }
    .card {
        width: 320px !important;
        height: 295px !important;
    }
    .card:hover {
        width: 320px;
        height: 295px;
        box-shadow: 8px 15px 10px 5px rgba(0, 0, 0, .2);
    }
    .rychka:hover {
        height: 291px;
        width: 290px;
    }
    .glyshkova {
        height: 295px;
        width: 290px;
    }
    .glyshkova:hover {
        height: 295px;
        width: 290px;
    }
    .milian {
        height: 295px;
        width: 290px;
    }
    .milian:hover {
        height: 295px;
        width: 290px;
    }
    .tarasov {
        height: 295px;
        width: 290px;
    }
    .tarasov:hover {
        height: 295px;
        width: 290px;
    }
    .nazarenko {
        height: 295px;
        width: 290px;
    }
    .nazarenko:hover {
        height: 295px;
        width: 290px;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 35px !important;
        margin-top: 7px !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: 56px !important;
        margin-top: 7px;
    }
    .practiccont {
        padding-left: 0px !important;
    }
    .practop1 {
        padding-left: 0px;
    }
    .iconcos {
        padding-left: 7px;
    }
}