@media screen and (max-width: 481px) {
    .btkomandass {
        margin-right: -28px;
        float: right;
        margin-top: -68px;
    }
    .on768 {
        display: block !important;
    }
    #mu-gallery>div>div>div>div.iconnumber>p:nth-child(1) {
        display: none;
    }
    #mu-gallery>div>div>div>div.iconnumber>p:nth-child(2) {
        display: none;
    }
    .abtncom {
        font-weight: 600 !important;
        font-size: 17px !important;
        line-height: 22px !important;
        padding: 5px 20px !important;
    }
    .titleaboutus {
        font-weight: 450;
        font-size: 40px;
        line-height: 51px;
    }
    #mu-gallery>div>div>div>div.iconnumber>p:nth-child(3) {
        display: none;
    }
    #mu-about-us>div.container>div>div>div>div.iconnumber>p:nth-child(1) {
        display: none;
    }
    .lefticonhead {
        width: 49% !important;
    }
    .righticonhead {
        width: 50% !important;
    }
    .none480img {
        display: none;
    }
    .mobile420 {
        display: block;
    }
    .input {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        padding: 10px 19px;
        border: 1px solid white;
        color: #FFFFFF;
    }
    .texttoptex li {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        font-weight: 300;
    }
    .texttopbig {
        padding-bottom: 24px;
        font-style: normal;
        font-weight: 450;
        font-size: 25px;
        line-height: 28px;
        color: #FFFFFF;
    }
    .client1 {
        width: 31%;
    }
    .client2 {
        width: 56%;
    }
    .client3 {
        width: 59%;
    }
    .client4 {
        width: 34%;
    }
    .on480left {
        display: none !important;
    }
    .on480right {
        display: none !important;
    }
    .dooble {
        display: block !important;
    }
    .telehponn {
        display: none;
    }
    .contact {
        padding-top: 9px !important;
        font-weight: 450;
        font-size: 27px;
        line-height: 30px;
        color: #FFFFFF;
        padding-bottom: 9.92px !important;
    }
    .nothoverpractics {
        display: none !important;
    }
    .hoverpracticks {
        display: none !important;
    }
    .mapsg {
        display: none;
    }
    .on480right {
        float: right;
        width: 48%;
    }
    .on480left {
        float: left;
        width: 48%;
    }
    .butallposlygi {
        text-align: center;
    }
    .butallposlyg {
        float: none !important;
    }
    .divesnew {
        margin-left: -10px;
        padding-top: 24px;
        width: 176px;
    }
    .buttnew {
        padding-left: 47px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */
        color: #223A76;
    }
    .titnew {
        font-weight: 450;
        font-size: 22px;
        line-height: 23px;
        color: #223A76;
    }
    .sss {
        display: none !important;
    }
    .texnew {
        font-size: 15px;
        line-height: 17px;
        /* or 113% */
        color: #223A76;
    }
    .butomzaps {
        display: block;
        border: solid 2px #223A76;
        padding: 26px 103px;
        height: 58.26px;
        text-align: center;
        color: #223A76;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 17px;
        padding-top: 10px;
    }
    .butomzaps:hover {
        border: solid 2px #223A76;
        color: #ffffff;
        background-color: #223A76;
    }
    .butomzaps:active {
        border: solid 2px #223A76;
        color: #ffffff;
        background-color: #B49A67;
    }
    .butomzap {
        display: none;
    }
    .titleaboutus {
        margin-left: -16px;
    }
    .telph {
        display: none !important;
    }
    .heidingnum2 {
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 50px !important;
        line-height: 25px !important;
        text-align: center !important;
    }
    .abousa {
        padding-bottom: 65px;
    }
    .btn {
        padding: 8px 14px !important;
    }
    .detail {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 17px !important;
        line-height: 22px !important;
        border: none;
    }
    .lineverthead {
        margin-top: -15px;
        margin-left: -1px;
    }
    .heidingnum1 {
        height: 60px !important;
        text-align: center !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 55px !important;
        line-height: 25px !important;
        text-align: center !important;
        color: #B49A67 !important;
    }
    .titleheading {
        padding-bottom: 10px;
        margin-left: 4px;
        padding-top: 17px;
        font-weight: 450;
        font-size: 40px;
        line-height: 51px;
    }
    .mu-gallery-area {
        display: none;
    }
    .bottkomand {
        float: right;
        padding-top: 4px !important;
        margin-top: -42px;
        margin-left: 15px;
        position: absolute;
        right: 15px;
    }
    .iconnumber {
        height: 0px;
        display: block;
    }
    .infoiconss420 {
        display: block;
    }
    .hone {
        font-size: 67px !important;
        line-height: 61px !important;
        font-weight: 450;
        font-size: 50px;
    }
    .ollpublic {
        display: block;
    }
    .hree {
        display: block;
        height: 1px;
        background-color: rgb(114, 114, 114);
    }
    #mu-reservation\>div>div>div>div.col-lg-8.col-md-8.col-sm-8.col-8.order-sm-first {
        width: 100% !important;
    }
    .onpc {
        display: none;
    }
    .witeblue {
        background: white;
    }
    .witeblue:hover {
        background: #223A76;
    }
    .onpoint {
        opacity: 0;
    }
    .posobsl {
        position: absolute;
        z-index: 9999999;
    }
    .onpoint:hover {
        opacity: 1;
        z-index: 9999999;
        background: #223A76;
    }
    .non7866 {
        display: none;
    }
    .titlenew {
        font-weight: 450;
        font-size: 22px;
        line-height: 23px;
        color: #FFFFFF;
    }
    .liuli {
        font-size: 15px;
        line-height: 17px;
    }
    .liul {
        padding-top: 15px;
        font-size: 15px;
        line-height: 17px;
    }
    .titlecartwidth {
        padding-top: 15px;
        font-weight: 450;
        font-size: 30px;
        line-height: 24px;
    }
    .heicart {
        height: 185px;
    }
    .onetable {
        display: block;
    }
    .nonetable {
        display: none;
    }
    .text {
        font-size: 15px;
        line-height: 17px;
    }
    .newstitle {
        padding-top: 14px;
        padding-left: 3px;
        font-style: normal;
        font-weight: 450;
        font-size: 22px;
        line-height: 23px;
    }
    .onpad {
        display: none;
        height: 50px;
    }
    .col-md-glyshkova {
        display: none;
    }
    .nenadonamob {
        display: none;
    }
    .texton768 {
        display: none !important;
    }
    .lefter {
        margin-left: 20px !important;
    }
    #mu-about-us>div.container>div>div>div>div.infoiconss>svg {
        display: none;
    }
    .on768 {
        display: none;
    }
    .abownas {
        display: none;
    }
    .abownas a {
        padding: 3px 15px;
        border: 1px solid #B49A67;
    }
    .navbar-default .navbar-toggle {
        border-color: rgba(161, 117, 117, 0) !important;
    }
    #mu-header>nav>div>div.navbar-header>button {
        display: block;
        position: absolute;
        right: 1px;
        top: 11px;
    }
    .coomandos {
        padding-top: 0px;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 45px;
        margin-left: -118px;
    }
    .butomzaps {
        margin-left: -20px;
        width: 440px;
        height: 90px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 25px !important;
        line-height: 28px !important;
    }
    .benerslide {
        height: 621px !important;
    }
    .padinhead {
        padding-top: 17px !important;
    }
    #top-menu {
        display: none;
    }
    .hones {
        display: table-caption;
        font-weight: 450 !important;
        font-size: 60px !important;
        line-height: 60px !important;
    }
    .iconcos a svg {
        width: 35px;
        height: 35px;
    }
    .iconcos {
        padding-top: 48px !important;
    }
    .nazva {
        left: 8.2% !important;
        top: 150px !important;
    }
    .phonesfooter {
        width: 167px;
    }
    .iconfooters {
        display: block;
    }
    .iconsfooter {
        display: none;
    }
    .contacts {
        padding-left: 2px;
    }
    .mapsg {
        padding-left: 0px;
    }
    .cards {
        width: 212px !important;
    }
    .cardss {
        height: 165px;
        width: 212px;
    }
    .card-bodys {
        background: #223A76;
        width: 212px;
        height: 220px;
    }
    .newsone {
        width: 400px;
        height: 194px;
    }
    .order-sm-first {
        width: 100% !important;
    }
    .comentsto {
        height: 70px !important;
    }
    .comentstokate {
        display: none;
    }
    .rychka {
        height: 186px;
        width: 210px;
    }
    .rychka:hover {
        height: 291px;
        width: 290px;
    }
    .glyshkova {
        height: 295px;
        width: 290px;
    }
    .glyshkova:hover {
        height: 295px;
        width: 290px;
    }
    .milian {
        height: 295px;
        width: 290px;
    }
    #mu-gallery>div>div>div>div.iconnumber>div.leftcomandas>div:nth-child(3) {
        margin-left: -9px;
    }
    .btn-det {
        margin-left: 25px;
    }
    .card-text {
        padding-left: 25px;
    }
    .comandatextc {
        padding-top: 93px !important;
        display: block;
    }
    .practbuts {
        padding-right: 0px !important;
        padding-top: 3px !important;
    }
    .card-title {
        margin-top: 16px !important;
        padding-top: 0px;
        padding-left: 25px;
        line-height: 28px !important;
    }
    .milian:hover {
        height: 295px;
        width: 290px;
    }
    .tarasov {
        height: 295px;
        width: 290px;
    }
    .tarasov:hover {
        height: 295px;
        width: 290px;
    }
    .nazarenko {
        height: 295px;
        width: 290px;
    }
    .nazarenko:hover {
        height: 295px;
        width: 290px;
    }
    .card-body {
        width: 210px !important;
        height: 180px !important;
        position: absolute;
        top: 290;
        z-index: 999999;
    }
    .contcomand {
        padding-right: 2px;
        padding-left: 2px;
        margin-right: 2px;
        margin-left: 2px;
    }
    #mu-reservation>div>div>div>div>div:nth-child(6) {
        display: none;
    }
    .container {
        width: 436px;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 45px;
        margin-left: -118px;
    }
    .infoicons {
        display: none !important;
    }
    .infoiconss {
        display: none !important;
    }
    .butonas {
        padding-left: 0px;
        padding-top: 62px;
        display: block;
    }
    .practic {
        margin-left: -7px;
        width: 440px !important;
        background: #FFFFFF;
    }
    .practicfirst {
        padding-right: 0px;
        height: 200px;
        width: 440px;
        padding-left: 0px;
    }
    .yridconsoult {
        margin-left: -6px;
        padding-top: 5px;
        width: 460px;
        display: block;
        background-color: white;
    }
    .practictwo {
        display: none;
        background: #223A76;
        height: 200px;
        width: 440px;
    }
    .practictwotwo {
        display: none;
        padding-right: -15px;
        height: 185px;
        width: 356px;
    }
    .practicimg {
        width: 185px;
        height: 185px;
    }
    .practiccart {
        display: none;
        padding-right: -15px;
        height: 185px;
        width: 356px;
    }
    .practiccarts {
        display: none;
        height: 185px;
        width: 356px;
        padding-left: 17px;
    }
    #mu-reservation>div>div>div>div>p {
        position: absolute;
        right: -1px;
        top: 151px;
    }
    .practicscar {
        padding-left: 15px;
        height: 185px;
        width: 356px;
    }
    .practictextcart {
        height: 185px !important;
    }
    .fd {
        height: 185px;
        padding-left: 15px;
    }
    #mu-gallery>div>div>div>div.iconnumber>div.leftcomandas>div:nth-child(1) {
        margin-left: -9px;
    }
    .rychka {
        height: 186px;
        width: 210px;
    }
    .card {
        margin-left: -4px;
        width: 210px !important;
    }
    .card:hover {
        width: 209px;
        height: 186px;
        box-shadow: 8px 15px 10px 5px rgba(0, 0, 0, .2);
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -12px !important;
        margin-top: 7px !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: 56px !important;
        margin-top: 7px;
    }
    .fotnotleft {
        width: 460px !important;
        height: 657px !important;
        margin-left: 0px;
        padding-left: 0px;
    }
    .navbar-toggle .icon-bar {
        display: none;
    }
}