@media screen and (max-width: 961px) {
    .copirate {
        padding-top: 0px;
    }
    .padtop {
        padding-top: 31px;
        margin-left: -4px;
    }
    .small-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #223A76;
    }
    .texts {
        font-style: normal;
        font-weight: 450;
        font-size: 22px;
        line-height: 28px;
    }
    .text-left {
        padding-left: 36px;
        margin-top: -25px;
    }
    .imagebig {
        width: 389px;
        height: 375.25px;
        margin-left: -4px;
    }
    .breadc {
        font-style: normal;
        font-weight: 450;
        font-size: 20px;
        line-height: 26px;
        color: #B49A67;
        padding-top: 104px;
        padding-bottom: 39px;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 45px;
        margin-left: -118px;
    }
    .headerimg {
        width: 418px;
    }
    .infoicons .col-lg-3 {
        display: none;
    }
    .imagess {
        width: 389px;
        height: 375px;
    }
    .container {
        width: 917px;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 114px;
        margin-top: 2px;
    }
    .butom {
        display: none;
    }
}

@media (min-width: 788px) {
    .col-md-4 {
        width: 33.33333333%;
    }
}