@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'), url('FuturaPT-Bold.eot?#iefix') format('embedded-opentype'), url('FuturaPT-Bold.woff2') format('woff2'), url('FuturaPT-Bold.woff') format('woff'), url('FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('FuturaPT-Heavy.woff2') format('woff2'), url('FuturaPT-Heavy.woff') format('woff'), url('FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('FuturaPT-DemiObl.eot');
    src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'), url('FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'), url('FuturaPT-DemiObl.woff2') format('woff2'), url('FuturaPT-DemiObl.woff') format('woff'), url('FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('FuturaPTCond-ExtraBoldObl.eot');
    src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'), url('FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'), url('FuturaPTCond-ExtraBoldObl.woff2') format('woff2'), url('FuturaPTCond-ExtraBoldObl.woff') format('woff'), url('FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('FuturaPTCond-Book.eot');
    src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'), url('FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'), url('FuturaPTCond-Book.woff2') format('woff2'), url('FuturaPTCond-Book.woff') format('woff'), url('FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-LightObl.eot');
    src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'), url('FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'), url('FuturaPT-LightObl.woff2') format('woff2'), url('FuturaPT-LightObl.woff') format('woff'), url('FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'), url('FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'), url('FuturaPT-BookObl.woff2') format('woff2'), url('FuturaPT-BookObl.woff') format('woff'), url('FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-HeavyObl.eot');
    src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'), url('FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'), url('FuturaPT-HeavyObl.woff2') format('woff2'), url('FuturaPT-HeavyObl.woff') format('woff'), url('FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-BoldObl.eot');
    src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'), url('FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'), url('FuturaPTCond-BoldObl.woff2') format('woff2'), url('FuturaPTCond-BoldObl.woff') format('woff'), url('FuturaPTCond-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'), url('FuturaPT-Demi.eot?#iefix') format('embedded-opentype'), url('FuturaPT-Demi.woff2') format('woff2'), url('FuturaPT-Demi.woff') format('woff'), url('FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('FuturaPTCond-BookObl.eot');
    src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'), url('FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'), url('FuturaPTCond-BookObl.woff2') format('woff2'), url('FuturaPTCond-BookObl.woff') format('woff'), url('FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'), url('FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'), url('FuturaPT-ExtraBold.woff2') format('woff2'), url('FuturaPT-ExtraBold.woff') format('woff'), url('FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-Medium.eot');
    src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'), url('FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'), url('FuturaPTCond-Medium.woff2') format('woff2'), url('FuturaPTCond-Medium.woff') format('woff'), url('FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('FuturaPT-Medium.woff2') format('woff2'), url('FuturaPT-Medium.woff') format('woff'), url('FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('FuturaPTCond-ExtraBold.eot');
    src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'), url('FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'), url('FuturaPTCond-ExtraBold.woff2') format('woff2'), url('FuturaPTCond-ExtraBold.woff') format('woff'), url('FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-MediumObl.eot');
    src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'), url('FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'), url('FuturaPT-MediumObl.woff2') format('woff2'), url('FuturaPT-MediumObl.woff') format('woff'), url('FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-Bold.eot');
    src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'), url('FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'), url('FuturaPTCond-Bold.woff2') format('woff2'), url('FuturaPTCond-Bold.woff') format('woff'), url('FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-BoldObl.eot');
    src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'), url('FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'), url('FuturaPT-BoldObl.woff2') format('woff2'), url('FuturaPT-BoldObl.woff') format('woff'), url('FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'), url('/fonts/futura/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('FuturaPT-Book.woff2') format('woff2'), url('FuturaPT-Book.woff') format('woff'), url('FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'), url('FuturaPT-Light.eot?#iefix') format('embedded-opentype'), url('FuturaPT-Light.woff2') format('woff2'), url('FuturaPT-Light.woff') format('woff'), url('FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('FuturaPTCond-MediumObl.eot');
    src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'), url('FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'), url('FuturaPTCond-MediumObl.woff2') format('woff2'), url('FuturaPTCond-MediumObl.woff') format('woff'), url('FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('FuturaPT-ExtraBoldObl.eot');
    src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'), url('FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'), url('FuturaPT-ExtraBoldObl.woff2') format('woff2'), url('FuturaPT-ExtraBoldObl.woff') format('woff'), url('FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
    font-family: "Futura PT";
}

.lang {
    font-family: "Futura PT";
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
}

.iconcos {
    padding-top: 30px;
}

.active {
    color: #B49A67;
}

div.scrollup {
    position: fixed;
    color: #fff;
    background-color: #286090;
    right: 20px;
    bottom: 0px;
    padding: 4px 10px;
    font-size: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    display: none;
    text-align: center;
}

div.scrollup:hover {
    background-color: #000;
}

#mu-header {
    overflow: hidden;
    background-color: #333;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    margin-bottom: 0px !important;
}

.btn {
    color: #B49A67;
    padding: 10px;
    border: 2px solid #B49A67;
}

.btn a {
    color: #B49A67;
    font-size: 20px;
    font-family: "Futura PT";
}

.card-body {
    background-color: #64759F;
}

li a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #223A76;
}

#mu-gallery {
    display: block;
    background: url(img/back_mens.svg) no-repeat center bottom;
}

.card-text {
    color: white;
}

.card-title {
    color: white;
}

.textaboutus {
    font-size: 17px;
    color: #223A76;
    font-family: "Futura PT";
}

.titleaboutus {
    padding-top: 50px;
    font-weight: 450;
    font-size: 60px;
    color: #223A76;
    font-family: "Futura PT";
}

.card-title {
    font-family: "Futura PT";
    padding-left: 15%;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
}

.card-text {
    padding-left: 15%;
    padding-bottom: 8%;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}

.btn-det {
    font-size: 17px;
    line-height: 19px;
    color: white;
    padding: 5 5 5 5;
    border: 1px solid white;
    margin-left: 15%;
}

.btn-det:hover {
    color: white;
}

.wr_razmer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wr_razmer2 {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s;
}

.conteiner:hover .wr_razmer2 {
    opacity: 1;
}

.conteiner:hover .wr_razmer {
    opacity: 0;
}

.iconcs {
    text-decoration: none !important;
}

.imageman2:hover {
    background: #b49a67;
}

@media (min-width: 961px) {
    .sectionourclient {
        background: url(img/backback.svg) no-repeat center;
        height: 200px;
    }
}

@media (max-width: 961px) {
    .sectionourclient {
        background-image: url(img/backback960.svg);
        height: 200px;
    }
}